@import 'foundation';

body {
  background-image: url('/images/navy_blue.png');
  color: #fff;
  margin: 0;
  font-family: "museo-sans",sans-serif;
}

.logo.push-left{
  padding-left: 63px;
}

.caption{
  font-weight: bold;
  text-align: center;
  margin: 5px auto;
}

.hero{
  color: #666;
  background: #fff;
  // width: 100%;
  text-align: center;
  padding: 15px;
  span {
    margin: 5px;
    font-size: 20px;
  }
  .blue {
    color: #53B2B3;
  }
  .red {
    color: #BC4C20;
  }
  .green {
    color: #94C974;
  }
}

.content {
  background: #fff;
  margin-top: 20px;
  color: #666;
  .center-image {
    padding: 15px;
  }
}

.blog {
  padding-left: 40px;
  padding-top: 25px;
  padding-right: 40px;
  p {
    font-size: 16px;
  }
  ul {
    padding-left: 40px;
  }
}

body>img{
  bottom: -100px !important;
}

ul.unstyled li{
  list-style-type: none;
}

.icons i {
  font-size: 30px;
  margin: 5px;
}
