<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, target-densityDpi=device-dpi">
    <link rel="alternate" type="application/rss+xml" title="Aubrey C. Rhodes III" href="/feed.xml" />
    <title>Aubrey C. Rhodes III</title>
    <%= stylesheet_link_tag 'all', 'font-awesome' %>
    <%= javascript_include_tag 'all' %>
    <script type="text/javascript" src="//use.typekit.net/dsm1pam.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>

    <div id="main" role="main" class="wrapper">
      <%= yield %>
    </div>
</html>
